body{
    background-color: aqua;
    font-family: sf_distant_symbols;
}
img{
    border: 2px solid black;
    border-radius: 15px;
}
@font-face {
    font-family: sf_distant_symbols;
    src: url(../font/sf_distant_symbols/SF\ Distant\ Galaxy\ Outline\ Italic.ttf);
}