#container{

    display: flex;
    
    flex-direction: row;
    
    justify-content:center;
    
    }
    
    div[id^="cubo"]{
    
    height: 150px;
    
    width: 150px;
    
    text-align: center;
    
    color:white;
    
    margin: 40px;
    
    }
    
    #cubo-1{
    
    background-color: blue;
    
    }
    
    #cubo-2{
    
    background-color: red;
    
    }
    
    #cubo-3{
    
    background-color: green;
    
    }